<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2011 Kurtis Nusbaum
 *
 * This file is part of LinkSchedule.  
 *
 * LinkSchedule is free software: you can 
 * redistribute it and/or modify it under the terms of the GNU General Public 
 * License as published by the Free Software Foundation, either version 2 of the 
 * License, or (at your option) any later version.  
 *
 * LinkSchedule is distributed in the hope that it will be useful, but WITHOUT 
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License 
 * for more details.  You should have received a copy of the GNU  General 
 * Public License along with LinkSchedule. If not, see 
 * http://www.gnu.org/licenses/.
 --> 

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.klnusbaum.linkschedule"
      android:versionCode="5"
      android:versionName="1.4"
      >
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/launcher">
        <activity android:name="OmniScheduleActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
                  android:configChanges="keyboard|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.klnusbaum.aboutlib.AboutActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/about"/>
        <activity android:name="SingleStopActivity"
                  android:label="@string/bus_stop"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="keyboard|orientation|keyboardHidden"/>
        <activity android:name=".BusStopWidgetConfigure"
                  android:theme="@android:style/Theme.Dialog">
          <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
          </intent-filter>
        </activity>  
        <activity android:name="XMLPreferencesActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/settings_name"/>


        <receiver android:name="BusStopWidgetProvider">
          <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          </intent-filter>
          <intent-filter>
            <action android:name="ACTION_TIME_UPDATE"/>
          </intent-filter>
          <intent-filter>
            <action android:name="ACTION_FORCE_UPDATE"/>
          </intent-filter>
          <meta-data android:name="android.appwidget.provider"
            android:resource="@xml/bus_stop_widget_info"/>
        </receiver>
        <receiver android:name="AlarmReceiver">
          <intent-filter>
            <action 
              android:name="BROADCAST_BUS_STOP_ALARM"/>
          </intent-filter>
        </receiver> 




    </application>

</manifest> 
